<div class="container">
<form action="" #form="ngForm"(ngSubmit)="onSubmit(form)" >
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name"  name= "name"class="form-control"
     [(ngModel)]="userSettings.name" required #nameField="ngModel" >

     <div [hidden]="nameField.valid ||nameField.untouched"
      class="alert alert-danger">Enter Name
           </div>
          </div>
    <div class="form-check form-group">
        <input class="form-check-input" type="checkbox" name="emailOffers" id="emailOffers"
        [(ngModel)]="userSettings.emailOffers">
        <label class="form-check-label" for="emailOffers">
          Email Special Offers
        </label>
</div>

<h4> User Interface</h4>
<div class="form-check">
    <input class="form-check-input" type="radio" name="interface" id="lightInterface" value="option1" checked
    [(ngModel)]="userSettings.interfaceStyles" >
    <label class="form-check-label" for="lightInterface">
      Light
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="interface" id="mediumInterface" value="option2"
    [(ngModel)]="userSettings.interfaceStyles">
    <label class="form-check-label" for="mediumInterface">
      Medium
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="interface" id="darkInterface" value="dark"
    [(ngModel)]="userSettings.interfaceStyles">
    <label class="form-check-label" for="exampleRadios3">
      Dark
    </label>
  </div>
  <div class="form-group">
      <label for="subscriptionType">Subscriotion Type</label>
      <select class="form-control"name="subscriptionType" id="subscriptionType"
      [(ngModel)]="userSettings.subscriptionType">
        <option value="">Subcription Type</option>
          <option value="">Monthly</option>
          <option value="">Annualy</option>
          <option value="">Lifetime</option>
      </select>
  </div>
  <div class="form-group">
      <label for="notes">Notes</label>
      <textarea name="notes" id="notes" cols="5"
       rows="3" class="form-control"[(ngModel)]="userSettings.notes"></textarea>

  </div>
    <button class="btn btn-primary">Send</button>
</form>
</div>
{{form.value |json}}
