<div class="container">
    <h2> User Settings</h2>
<form action="">
<div class="form-group">
    <label for="name">Name</label>
    <input  id="name" name="name" class="form-group">
</div>
<div class="form-check form-group">

    <div >
    <input class="form-check-input" type="checkbox" value="" id="emailOffers">
    <label class="form-check-label" for="emailOffers">
      Email Special Offers
    </label>
</div>
  </div>
<h5>User Interface Style</h5>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Light
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Medium
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
    <label class="form-check-label" for="exampleRadios3">
     Dark
    </label>
  </div>

    <button btn btn-primary >SEND</button>
</form>
</div>